.logo {
background-color: #ffffff !important;
}
.navbar {
background-color: #00AC4E !important;
}
.main-sidebar {
padding-top: 105px;
background-color: #5389b8 !important;
font-family: "Arial", Sans-serif;
font-weight: bold;
font-size: 14px;
color: #ffffff;
}
.sidebar-menu {
/*background-color: #5389b8 !important;*/
background-color: #5389b8 !important;
color: #ffffff;
}
.control-sidebar-bg{
  background-color: #5389b8 !important;
}

.right-side {
background-color: #5389b8 !important;
color: #ffffff;
width: 150px;
}

.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a {
background-color: #005BAA;
}
.main-header .logo {
height: 60px;
}
.content {
padding-top: 15px;
}
.main-header .sidebar-toggle:before {
/*content: "\\f141"
 font-size = 70px */
}
.control-sidebar-dark,.control-sidebar-dark+.control-sidebar-bg {
    background: #5389b8
}
.main-sidebar {
    background: #5389b8
}
.control-sidebar-bg {
    background: #5389b8
}
.control-sidebar-dark .nav-tabs.control-sidebar-tabs>li>a {
    background: #5389b8
}
.control-sidebar-dark .nav-tabs.control-sidebar-tabs>li.active>a {
    background: #5389b8 !important;
}
.control-sidebar-dark .nav-tabs.control-sidebar-tabs>li:hover>a {
    background: #005BAA !important;
}
.control-sidebar-dark .nav-tabs.control-sidebar-tabs>li>a, .control-sidebar-dark .nav-tabs.control-sidebar-tabs>li>a:focus, .control-sidebar-dark .nav-tabs.control-sidebar-tabs>li>a:hover {
	border-left-color: #5389b8;
	border-bottom-color: #5389b8;
}

/*News styles*/
.main-sidebar{
    background-color: #00ac4e;
}

.sidebar-menu{
    background-color: #00ac4e;
}

.skin-blue .sidebar a{
    color: white;
}

.skin-blue .sidebar a:hover{
    background-color: #086a34;
}

ul.treeview-menu.menu-open {
    background-color: green !important;
}

ul.treeview-menu.menu-open li a{
    color: white !important;
}

.skin-blue .main-header .navbar{
    background-color: #005baa;
}

@media (min-width: 576px) {
    .content {
    margin: 0 auto;
    width: 90%;
}
}

@media (min-width: 768px) {
    .content {
    margin: 0 auto;
    width: 90%;
}
}

@media (min-width: 992px) {
    .content {
    margin: 0 auto;
    width: 90%;
}
}

@media (min-width: 1200px) {
    .content {
    margin: 0 auto;
    width: 1080px;
}
}